/* popup-modal container */

.popup-modal {
    /* padding: 0 auto;*/
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    display: none;
    text-align: center;
}

.btt-close {
    display: block;
    right: 0;
    margin: 0 auto;
    font-size: 50px;
    font-weight: bold;
    color: #000;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    outline: none;
    cursor: pointer;
    background-color: #ffffff;
}


/* container Slideshow*/

.slider__nav {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.slider__navlink {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px #fff solid;
    background-color: #333;
    opacity: 1;
    margin: 0 10px 0 10px;
    cursor: pointer;
}

.slider__navlink.active {
    background-color: #fff;
    border: 1px #333 solid;
}

@media screen and (max-width: 640px) {
    .slider__navlink {
        height: 12px;
        width: 12px;
    }
}