.popup-modal {
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, .6);
    z-index: 99999;
}

.btt-close {
    display: block;
    right: 0;
    margin: 0 auto;
    font-size: 50px;
    font-weight: bold;
    color: #000;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    outline: none;
    cursor: pointer;
    background-color: #ffffff;
}

.popup__width {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    border-radius: 8px;
}


/* container Slideshow*/

.slider__nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.slider__navlink {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px #fff solid;
    background-color: #333;
    opacity: 1;
    margin: 0 10px 0 10px;
    cursor: pointer;
}

.slider__navlink.active {
    background-color: #fff;
    border: 1px #333 solid;
}

@media(max-width: 1024px) {
    .popup__width {
        margin-top: 35%;
    }
    .slider__nav {
        width: 100%;
    }
    .btt-close {
        display: block;
        right: 0;
        margin: 0 auto;
        font-size: 35px;
        font-weight: bold;
        color: #000;
        border-radius: 100%;
        width: 80px;
        height: 80px;
        outline: none;
        cursor: pointer;
        background-color: #ffffff;
    }
}

@media(max-width: 982px) {
    .slider__nav {
        width: 100%;
    }
    .btt-close {
        display: block;
        right: 0;
        margin: 0 auto;
        font-size: 35px;
        font-weight: bold;
        color: #000;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        outline: none;
        cursor: pointer;
        background-color: #ffffff;
    }
}

@media(max-width: 768px) {
    .slider__nav {
        width: 100%;
    }
    .btt-close {
        display: block;
        right: 0;
        margin: 0 auto;
        font-size: 35px;
        font-weight: bold;
        color: #000;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        outline: none;
        cursor: pointer;
        background-color: #ffffff;
    }
}

@media(max-width: 640px) {
    .popup__width {
        width: 350px;
        margin-top: 50%;
    }
    .slider__nav {
        width: 100%;
    }
    .slider__navlink {
        height: 15px;
        width: 15px;
    }
    .btt-close {
        display: block;
        right: 0;
        font-size: 20px;
        font-weight: bold;
        color: #000;
        border-radius: 80%;
        width: 60px;
        height: 60px;
        outline: none;
        cursor: pointer;
        background-color: #ffffff;
    }
}