.popup-modal {
    padding: 0 auto;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    display: none;
    text-align: center;
}

.btt-close {
    display: block;
    right: 0;
    margin: 0 auto;
    font-size: 50px;
    font-weight: bold;
    color: #000;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    outline: none;
    cursor: pointer;
    background-color: #ffffff;
}